.home_container {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: #007BFF;
    padding: 0 .2em;

}

.home_container img {
    width: 1000px;
    margin: 2em 0;

}

.home_container p{
    margin-bottom: 2em;
}


.boxTextHome{
    display: flex;
    flex-direction: column;
}