.container{
    width: 1200px;
    display: flex;
    justify-content:center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 70%;
    width: 100%;
    display: flex;
    align-items:flex-start;
}
.start {
    justify-content: flex-start;
}

.column{
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    border: none;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);    
    border-radius: 10px;
    width: 40%;
    margin: 0.5%

}