.footer{
    display: flex;
    background-color: #424242;
    flex-direction: column;
    color:#FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.social_list {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color:#007BFF;
}

.social_list_svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #FFFFFF;
}

.copy_right {
    margin-top:2px;
}

.copy_right span{
    font-weight: bold;
    color: #007BFF;
}
